.idea
*.iml
.classpath
.settings
.project
bin
*~
*.sw
rebel.xml
target
dependency-reduced-pom.xml
FitnesseRoot/**/*.zip
FitNesseRoot/ErrorLogs/
FitNesseRoot/RecentChanges/
FitNesseRoot/files/testProgress
FitNesseRoot/files/testResults
FitNesseRoot/properties
FitNesseRoot/updateDoNotCopyOverList
FitNesseRoot/updateList
*.log
ossrh_keys.tar.gz
